* {
    background-color: #f8f8f8;
    color: black;
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
    margin: 0;
} 

body {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

.letter {
    display: block;
    width: 500px;
    max-width: 95%;
    padding: 15px 0px 15px 0px;
}

a {
    text-decoration: none;
    color: gray;
}